<div class="h-screen px-8 py-4 bg-gray-200">
  <nav class="flex justify-between mb-8">
    <h1>
      <a href="" class="text-4xl font-extrabold text-gray-900 uppercase hover:italic">logo</a>
    </h1>
    <div class="flex gap-6 ">
      <a href="" class="flex items-center p-2 font-bold text-gray-200 capitalize bg-orange-600 rounded-md hover:bg-orange-800">Login
        <span>
          <%= inline_svg_tag("arrow-right-circle.svg", class: "size-6") %>
        </span>
      </a>
      <a href="" class="p-2 font-bold text-gray-200 capitalize bg-gray-800 rounded-md hover:bg-gray-600">Signup</a>
    </div>
  </nav>

  <main class="relative grid items-center justify-around md:flex">
    <section class="md:basis-1/2">
      <div class="absolute top-0 justify-between hidden w-1/2 lg:flex">
        <%= inline_svg_tag("print.svg", class: "size-40") %>
        <%= inline_svg_tag("sign.svg", class: "size-40") %>
      </div>

      <h2 class="mb-4 text-4xl font-bold capitalize">Manage your projects with ease</h2>
      <p class="mb-8 text-2xl">ProjectTask is a porject management tool that help you organize your projects and tasks.</p>
      <a href="" class="flex items-center justify-center p-4 text-4xl text-gray-200 capitalize bg-orange-600 rounded-sm hover:text-gray-600">Get started
        <span>
          <%= inline_svg_tag("forward.svg", class: "size-12") %>
        </span>
      </a>
      
      <div class="absolute bottom-0 justify-between hidden w-1/2 lg:flex">
        <%= inline_svg_tag("star.svg", class: "size-40") %>
        <%= inline_svg_tag("flash.svg", class: "size-40") %>
      </div>
    </section>

    <div class="md:basis-1/2">
      <%= image_tag("hero.png", class: "mt-8") %>
    </div>
  </main>
</div>